.container {
  display: flex;
  align-items: center;
  gap: 100px;
}

.imgContainer {
  flex: 1;
  height: 500px;
  position: "relative";
}

.img {
  position: relative !important;
  object-fit: contain;
}

.formContainer {
  flex: 1;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
